.members > a {
    text-decoration: none;
    /* color: green;
    background-color: white; */
    /* margin: 10px; */
    padding: 10px 20px;
    /* margin: 5px; */
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 2px 2px rgb(236, 235, 235);
    background-color: green;
    color: white;
}

.members > a:hover {
    background-color: #82df66;
    cursor: pointer;
}

#all-members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 630px;
    overflow-y: scroll;
}

#all {
    padding: 10px 20px;
}


.all-members {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: green 2px solid;
    color: green;
    background-color: rgb(212, 250, 222);
}


@media screen and (max-width: 1630px) {
    #all-members {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (max-width: 1520px) {
    #all-members {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.my-cave-box {
    width: inherit;
}

#my-cave {
    color: green;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
    /* border-left: 2px solid green; */
}

#user-cave {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: green;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 3px;
    /* border-bottom: 2px solid green; */
}
