.main-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 850px;
}

.create-chant-box {
    width: 70%;
}

.feed {
    /* width: 800px; */
    width: 70%;
    height: 90%;
    /* margin-left: 30px;
    margin-right: 30px; */
    margin-top: 20px;
    overflow-y: scroll;
    justify-content: flex-start;
}

.feed>div {
    width: 80%;
    /* padding: 10px; */
}

.feed>div>div {
    margin: 10px;
}

.chant-details-container {
    display: flex;
    justify-content: space-between;
}

.chant-options-container {
    display: flex;
    justify-content: space-between;
}

.chant-options {
    display: flex;
    align-items: center;
}

.num-chants {
    padding-left: 8px;
    font-size: 20px;
    color: green;
}

.icon4 {
    color: green;
    font-size: 26px;
}

.user1 {
    font-size: 30px;
}

.chant {
    font-size: 22px;
    padding: 10px 20px;
}

.remark-container {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: green;
    margin: 10px 20px;
}

.remark-details-container {
    display: flex;
    justify-content: space-between;
}

.user2 {
    font-size: 20px;
    padding-left: 10px;
}

.remark {
    padding: 4px 20px;
    font-size: 18px;
}

#remark-created-at {
    font-size: 14px;
    padding: 4px 10px;
}

#chant-created-at {
    font-size: 16px;
    padding: 4px 10px;
}

.modify {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.modify-chant:nth-child(-n+2) {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: green;
    border-radius: 50px;
    border: none;
    color: white;
    padding: 2px 14px;
    height: 24px;
    /* width: inherit; */
    /* margin: 32px; */
}

.modify-chant:nth-child(-n+2):hover {
    background-color: #82df66;
    cursor: pointer;
}


.modify-chant>p {
    padding-left: 5px;
}

.add-remark {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: green;
    border-radius: 50px;
    border: none;
    color: white;
    padding: 2px 12px;
    height: 28px;
}

.add-remark:hover {
    background-color: #82df66;
    cursor: pointer;
}

.add-remark > p {
    padding-left: 5px;
}

.add-remark > i {
    font-size: 20px;
}

.new-remark-container {
    display: flex;
}

#new-remark {
    /* width: 400px; */
    width: 90%;
    height: 60px;
}

.submit-btn {
    text-decoration: none;
    background-color: green;
    border-radius: 50px;
    border: none;
    color: white;
    padding: 2px 14px;
    height: 34px;
    align-self: center;
}

.submit-btn:hover {
    background-color: #82df66;
    cursor: pointer;
}
