.create-form {
    /* width: 200px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.chant-input {
    width: 90%;
    height: 90px;
    border:none;
    border-radius: 10px;
}

.chant-input::placeholder {
    font-size: 22px;
    padding: 10px;
    color: green;
}

.chant-input:focus {
    font-size: 22px;
    padding: 10px;
    color: green;
    border:none;
}

.create-chant > p {
    margin-left: 10px;
}

#btn {
    width: 180px;
}
